/* styles.css */

.tilt-image {
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px 5px rgba(138, 43, 226, 0.6),  /* A medium purple */
                0 0 10px 10px rgba(147, 112, 219, 0.5), /* Medium Orchid */
                0 0 15px 15px rgba(186, 85, 211, 0.4),  /* Medium Orchid */
                0 0 20px 25px rgba(218, 112, 214, 0.3); /* Orchid */
}

    .tilt-image:hover {
      transform: scale(1.05); /* Slightly enlarge on hover */
    }
     